<div class = "card border-primary" style = "width: 50%">
  <div class = "card-header"></div>
  <div class = "card-body">
    <h2 class = "card-title"><%=blog.blogTitle%></h2>
    <p class = "card-text"><%=blog.blogText%></p>
  </div>
  <div class = "card-footer">
    <a href = "/blogEdit" class = "btn btn-primary">Edit Blog</a>
    <a href = "/blogDelete/<%=blog._id%>" class = "btn btn-primary">Delete Blog</a>
  </div>
</div>
