<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include nav %>
    <div class = "card border-primary" style="width : 50%">
    </div>
  </body>
</html>
