<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/css/bootstrap.min.css" >
  </head>
  <body>
    <div class = "container">
      <% include nav %>
      <% let blog = {}; %>
        <% if (blogs.length == 0) { %>
          <h4> No blogs to display, add one above. </h4>
        <% } else { %>
          <% for (let i = 0; i < blogs.length; i++) {
            blog = blogs[i] %>
            <% include showBlog %>
          <% } %>
        <% } %>
    </div>
  </body>
</html>
