<div class = "card border-primary" style="width: 50%">
  <div class = "card-body">
    <h2 class = "card-title"><%=blog.blogTitle%></h2>
    <p class = "card-body"><%=blog.blogText%></p>
  </div>
</div>
